

.btn{
    padding: 17px 22px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.primaryBtn{
    background-color: #F56D0D;
    border: 1px solid #F56D0D;
    color: #fff;

    &:hover{
        background-color: #222222;
        border: 1px solid #222222;
    }

    a{
        color: #ffffff;
        text-decoration: none;
    }
}

.lightBtn{
    background-color: #ffffff;
    border: 1px solid #F56D0D;
    color: #F56D0D;

    &:hover{
        background-color: #F56D0D;
        color: #ffffff; 
    }
}

.darkBtn{
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;

    &:hover{
        background-color: #F56D0D;
        border: 1px solid #F56D0D;
    }
}

.whiteBtn{
    background-color: #ffffff;
    color: #000000;

    &:hover{
        background-color: #000000;
        color: #ffffff;
    }
}

.normalBtn{
    padding: 16px 42px;
}

.smallBtn{
    padding: 14px 20px;
}