.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 22px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;

    .boxIcon {
        margin-right: 8px;
        display: flex;
        align-items: center;
    }
}

.primaryBtn {
    background-color: #f56d0d;
    border: 1px solid #f56d0d;
    color: #fff;

    &:hover {
        background-color: #222222;
        border: 1px solid #222222;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.lightBtn {
    background-color: #ffffff;
    border: 1px solid #f56d0d;
    color: #f56d0d;

    &:hover {
        background-color: #f56d0d;
        color: #ffffff;
    }
}

.darkBtn {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;

    &:hover {
        background-color: #f56d0d;
        border: 1px solid #f56d0d;
    }
}

.whiteBtn {
    background-color: #ffffff;
    color: #000000;

    &:hover {
        background-color: #000000;
        color: #ffffff;
    }
}

.normalBtn {
    padding: 16px 42px;
}

.smallBtn {
    padding: 12px 18px;
}

.fullBtn {
    width: 100%;
    padding: 8px 10px;
    border-radius: 0;

    &:hover {
        background-color: #000000;
        border: 1px solid #000000;
        color: #ffffff;
    }
}
