@use '@styles/variable.module.scss' as *;

:root {
  --primary-color: #{$primary-color};
  --white-color: #{$white-color};
  --black-color: #{$black-color};
  --text-color: #{$text-color};
  --border-color: #{$border-color};
  --second-color: #{$second-color};
  --third-color: #{$third-color};
}