@import '@styles/variable.module.scss';

:root {
  --primary-color: #{$primary-color};
  --white-color: #{$white-color};
  --black-color: #{$black-color};
  --text-color: #{$text-color};
  --border-color: #{$border-color};
  --second-color: #{$second-color};
  --third-color: #{$third-color};
}

.iconBox{
  width: 80px;
  margin-bottom: 20px;
}

.imageBlog{
  border-radius: 5px;
  object-fit: cover;
}