@use '@styles/variable.module.scss' as *;

.itemLink {
    color: $black-color;
    font-size: 17px;
    font-weight: 500;
    margin: 0 20px;
    line-height: 28px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: none;
        bottom: -6px;
        height: 3px;
        left: 0;
        width: 100%;
        background-color: $primary-color;
    }

    &:hover,
    &.homeMode,
    &.active {
        color: $primary-color;
        transition: all 0.3s ease-in-out;
    }

    &:hover::after,
    &.active::after {
        display: block;
        animation: active 0.3s ease-in-out;
        transform-origin: right;
    }
}

.homeMode {
    color: $primary-color;
}

@keyframes active {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

.wrappHeader {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 8px 0;
    background-color: transparent;
    z-index: 1;

    .imgLogo {
        width: 156px;
        height: 56px;
    }

    .between {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
    }

    .right {
        width: 270px;
        font-size: 28px;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .iconRight {
            margin: 0 8px;
            cursor: pointer;
        }
    }
}

.imgLogo {
    width: 156px;
    height: 56px;
}

:global(.headroom-wrapper) {
  height: 0 !important;
}

:global(.headroom) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}

:global(.headroom--unfixed) {
    background-color: transparent;
}

:global(.headroom--unpinned) {
    transform: translateY(-100%);
}

:global(.headroom--pinned) {
    transform: translateY(0%);
}

:global(.headroom--pinned.headroom--scrolled) {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
